.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  color: #262324;
}

.dialogsItems .active {
   color: gold;
}

.messages {
  padding: 10px;
}

.messages .message{
   color: #262324
}
